.gallery_button{
    margin-top: 30px;
    padding: 10px 20px;
    border: 2px solid #ffff;
    cursor: pointer;
    background-color: #e0e0e0;
    color: #fff;
    font-size: 23px;
    transition: 0.3s;
    border-radius: 7px;
}
.gallery_button:hover{
    background-color: #c8c8c8;
    transition: 0.3s;
}
.gallery_title{
    text-align: center;
    font-size: 50px;
    margin: 40px 300px;
    color: #ffff;
    padding: 10px;
    border-bottom: 3px solid #ffff;
}
.cont_maps{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.maps_content{
padding: 200px 250px;
background-color: #fff;
border-radius: 50%;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 60px;

}
.maps_text{
  display:flex ;
  align-items: center;
  margin-left: 10px;
}
.map_element{
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.mestonah{
  color: #799acc;
  font-size: 50px;
}
#mestonah{
  margin: 0;
}
#last_text{
  padding-bottom: 30px;
  border-bottom: 6px solid #799acc;
}
.txt_vizitka{

  text-align: center;
  display: flex;
}
#visitka{
  font-family: "Caveat", cursive;
  font-size: 32px;
  width: 520px;
  margin: 0;
}
.maps_img1{
  position: absolute;
  display: flex;
  width: 320px;
  margin-left: 100px;
  border-radius: 50%;
}
.maps_img2{
  position: absolute;
  display: flex;
  width: 320px;
  margin-left: 1000px;
  margin-top: 600px;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
    .cont_maps{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
}
.maps_content{
background-color: #fff;
border-radius: 50%;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 50px;
padding: 0px;
width: 420px;

}
.maps_text{
  display:flex ;
  align-items: center;
  margin-left: 10px;
  font-size: 10px;
}
.map_element{
  display: flex;
  margin-top: 28px;
  justify-content: center;
  margin-bottom: 0px;
}
.mestonah{
  color: #799acc;
  font-size: 50px;
}
#mestonah{
  margin: 0;
}
#last_text{
  padding-bottom: 30px;
  border-bottom: 6px solid #799acc;
}
.txt_vizitka{

  text-align: center;
  display: flex;
}
#visitka{
  font-family: "Caveat", cursive;
  font-size: 12px;
  width: 330px;
  margin: 0;
  margin-bottom: 50px;
}
.maps_img1 {
    position: absolute;
    display: none;
    width: 140px;
    margin-left: 131px;
    border-radius: 50%;
}
.maps_img2{
  display: none;

}
}
.gallery-bgrnd{
    background-color:#e0e0e0;;
}
@media only screen and (max-width: 860px) and (min-width: 769px){
.maps_content {
    padding: 80px 130px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.maps_img2 {
    position: absolute;
    display: none;
    width: 173px;
    margin-left: 622px;
    margin-top: 604px;
    border-radius: 50%;
}
.maps_img1 {
    position: absolute;
    display: none;
    width: 197px;
    margin-left: 57px;
    border-radius: 50%;
}
}
@media only screen and (max-width: 1024px) and (min-width: 1024px){
  .maps_content {
    padding: 56px 176px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.maps_img1 {
    position: absolute;
    display: none;
    width: 202px;
    margin-left: 100px;
    border-radius: 50%;
}
.maps_img2 {
    position: absolute;
    display: none;
    width: 190px;
    margin-left: 779px;
    margin-top: 518px;
    border-radius: 50%;
}
}
@media only screen and (max-width: 1280px) and (min-width: 1280px){
.maps_img2 {
    position: absolute;
    display: flex;
    width: 320px;
    margin-left: 917px;
    margin-top: 686px;
    border-radius: 50%;
}
}