*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.logo{
    /* Phodio */

    /* width: 501px;
    height: 159px; */
    
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 159px;
    
    color: #ffffff;
    

}



@import url(https://fonts.googleapis.com/css?family=Lato);

/* *, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  padding: 0 15px;
  
}

a {
  font-size: 16px;
  padding: 10px 25px;
  color: #ffffff;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  width: 230px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  transition: 0.2s;
  padding: 30px 0px 10px 70px;
}

.btn:hover{
  transition: 0.2s;
  color: #979797;
}

.icon_buttons{
  display: flex;
  padding: 40px
}

.header{
  background: linear-gradient(100deg,#bcbdbd,#e6e6e6);
}

.header_nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.works_title{
  color: #000000;
  text-align: center;
  padding: 25px;
  border-bottom: 3px solid #000000;
  font-size: 50px;

}
.works_content{
  display: flex;
  justify-content: center;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0px auto;
    padding: 0 15px;
}
.svyaz_prt{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
}

.prt_block{
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin-bottom: 100px;
    cursor: pointer;
    border-radius: 20px;
}

.prt_img{
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%,-50%,0);
}

.prt_content{
    padding: 0px 36px 60px 36px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    opacity: 0;
    transition: opacity .2s linear;
    background-color: rgba(32, 32, 32, 0.925);
    border-radius: 5px;
}
